*{
    border: 2px solid red;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    container-type: initial;

}

.header{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;

}
.header h3{
    margin-left: 150px;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
}
.links{
    display: flex;
    justify-content: right;
    margin-left: auto; 
    margin-right: 0;
    gap: 10px;
    size: 18px;
    color: #e5e7eb;
    margin-right: 150px;
}

.portion-1 p{
    size: 18px;
    color: #e5e7eb;    
}

.portion-1{
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    
}
.portion-1 .left-side{
    width: 600px;
    
    
    
}
.portion-1 .buttons{
    align-self: last baseline;
    
}
.portion-1 .image-placeholder{
    width: 600px;
}
.portion-2 h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}
.portion-2 .container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    
}

.portion-3{
    background-color: #e5e7eb;


}
.portion-3 h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937
}
.portion-3 p{
    text-align: right;
}
.portion-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    
}
.portion-4 .container{
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: space-around;
    flex-direction: column;
    
}
.portion-4 .container h4{
    align-self: flex-start;
}
.portion-4 .container p{
    align-self: flex-end;
}
.buttons{
    background-color: #3882F6;
    color: #e5e7eb;
    height: 30px;
    width: 72px;
}
.portion-4 .container .buttons{
    align-self: flex-end;
    
}
.footer{
    background-color: #1F2937;
    color:#e5e7eb;
    text-align: center;
    border-color: #e5e7eb;
}